.bkpro-login {
  &-submit {
    margin-top: 100px;
    width: 100%;
    .el-button {
      font-size: 16px;
      width: 100%;
      background-color: rgb(248, 247, 253);
      border: none;
      min-height: 45px;
      color: rgb(131, 131, 180);
      font-weight: 800;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 40px;
    .el-input__prefix {
      left: 12px;
      i {
        color: rgb(203, 206, 223);
      }
    }
    .el-input--prefix .el-input__inner {
      padding-left: 38px;
    }
    .el-input__inner {
      background-color: rgb(248, 247, 253);
      border: none;
    }
    .el-input__inner::placeholder {
      color: rgb(203, 206, 223);
    }
    .el-form-item {
      margin-bottom: 40px;
    }
  }
  &-type {
    color: rgb(131, 131, 180);
  }
  &-logo {
    color: rgb(80, 116, 176);
    text-align: center;
  }
  &-main {
    padding: 25px;
  }
  &-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  &-wrapper.show-wrapper {
    opacity: 1;
    transform: translateY(0);
  }
  &-wrapper {
    margin: 0 auto;
    width: 900px;
    box-shadow: 0px 1px 5px 0px rgb(44, 44, 48);
    border-radius: 16px;
    background-color: rgb(63, 68, 161);
    z-index: 2;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(-200px);
    &-box {
      height: 360px;
      padding: 80px 50px 0 50px;
      position: relative;
      &__inner {
        color: #fff;
        width: 300px;
        p {
          margin-top: 26px;
          font-size: 18px;
          line-height: 32px;
        }
      }
      &__content {
        position: absolute;
        right: 50px;
        top: -30px;
        background-color: #fff;
        height: 500px;
        width: 450px;
        border-radius: 16px;
      }
    }
  }
}
