html,
body {
  display: unset;
  margin: unset;
  height: 100%;
  width: 100%;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: hsla(220, 4%, 58%, .3);
}